################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

trivybeat:
  # Defines how often an event is sent to the output
  period: 1h
  server: ""
